.header {
  width: 100%;
  height: 75px;
  background: #0284c7;
  .header_logo {
    position: absolute;
    top: 15px;
    left: 32px;
    margin: 0;
  }
  .header_inner {
    max-width: 1000px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    form {
      position: relative;
      margin-right: 30px;
      .header_search {
        width: 323px;
        padding: 10px;
        font-size: 14px;
        border: none;
        &::placeholder {
          color: #878787;
          font-weight: bold;
        }
        &:focus {
          outline: 0;
        }
      }
      .header_search_submit {
        position: absolute;
        top: -0.5px;
        right: 0;
        cursor: pointer;
        padding: 10px;
        border: none;
        background: none;
        color: #333;
        font-size: 10px;
        transition: 0.5s;
      }
    }
    .header_button {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.dropdown {
  position: relative;
  z-index: 10;
  display: inline-block;
  pointer-events: auto;
  &:hover {
    .dropdown_content {
      display: block;
    }
  }
  .dropdownButton {
    display: block;
    background: #fff;
    padding: 3px 10px;
    font-size: 15px;
    color: #333;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none !important; // デフォルトのアウトラインを無効にします
    outline-offset: 0;
    img {
      margin-right: 8px;
    }
    &:hover {
      background: #f1f1f1; // ホバー時の背景色
      .dropdown_content {
        display: block;
      }
      // cursor: pointer;
    }
    &:focus {
      outline: none !important; // フォーカス時のアウトラインを無効にします
      box-shadow: none !important;
      outline-offset: 0 !important;
    }
    &:focus-visible {
      outline: none !important; // フォーカスインジケーターを無効にします
      border: 1px solid transparent;
      box-shadow: none !important; // フォーカス時の影を無効にします
      outline-offset: 0 !important;
    }
  }
}

.dropdown_content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:not(:last-child) {
      border-bottom: 1px solid #ececec;
    }
    &:hover {
      color: #0284c7;
    }
  }
}
