.file_button {
  display: none;
}

.imageContainer {
  position: relative;
  display: flex; // フレックスボックスを使用
  flex-direction: column; // 縦に並べる
  width: 100%;
}

.clearButton {
  position: absolute; // 絶対位置に設定
  top: 10px; // 上からの距離
  right: 10px; // 右からの距離
  border: none; // ボーダーを削除
  cursor: pointer; // カーソルをポインターに変更
  &:hover {
    opacity: 0.7;
  }
}

.selectedImage {
  max-width: 100%; // 幅を100%に設定して、親要素に収まるようにする
  height: auto; // 高さは自動で調整
  margin-bottom: 10px; // 各画像の間にスペースを追加
  border: 2px solid #ececec;
}
