.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  &::before,
  &::after {
    content: "";
    display: block;
    width: calc((100% - 193px) / 4);
  }
  &::before {
    order: 1;
  }
  li {
    width: calc((100% - 193px) / 4);
    margin-top: 30px;
  }
}